:root {
    --orange: #ffd000;
    --blue: #00b4fb;

    --spacing: 5px;
}
/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Segoe UI";
    box-sizing: border-box;
}
ul,ol,li {
    list-style: none;
}
img {
    width: 100%;
    vertical-align: top;
    /* display: block; */
}
.w-100 {
    width: 100%;
}
/* Button*/
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #ccc;
    color: #000;
    padding: 10px 25px;
    border-radius: 5px;
}
.btn-orange {
    background-color: var(--orange);
    color: #222;

    transition: .3s
}
.btn-orange:hover{
    filter:brightness(1.1);
}
.btn-blue {
    background-color: var(--blue);
    color: #222;
    transition: .3s
}
.btn-blue:hover {
    filter:brightness(1.2);
}
.btn-dark {
    background-color: #222;
    color: #eee;
    transition: .3s;
}
.btn-dark:hover {
    /* filter: brightness(2); */
    filter:invert();
}


/* text-align */
.t-left {text-align: left;}
.t-center {text-align: center;}
.t-right {text-align: right;}
.t-justify {text-align: justify;}
@media(min-width: 480px){
    .t-sm-left {text-align: left;}
    .t-sm-center {text-align: center;}
    .t-sm-right {text-align: right;}
    .t-sm-justify {text-align: justify;}
}
@media(min-width: 768px){
    .t-md-left {text-align: left;}
    .t-md-center {text-align: center;}
    .t-md-right {text-align: right;}
    .t-md-justify {text-align: justify;}
}
@media(min-width: 1200px){
    .t-lg-left {text-align: left;}
    .t-lg-center {text-align: center;}
    .t-lg-right {text-align: right;}
    .t-lg-justify {text-align: justify;}
}


/* pull push */
/* [class *= "pu"]{
    position: relative;
} */
.push-0 {
    left:0;
}
.push-6 {
    left: calc(100% / 12 * 6);
}
.pull-0 {
    right: 0;
}
.pull-6 {
    right: calc(100% / 12 * 6);
}
@media(min-width: 480px){
    .push-sm-0 {
        left:0;
    }
    .push-sm-6 {
        left: calc(100% / 12 * 6);
    }
    .pull-sm-0 {
        right: 0;
    }
    .pull-sm-6 {
        right: calc(100% / 12 * 6);
    }
}
@media(min-width: 768px){
    .push-md-0 {
        left:0;
    }
    .push-md-6 {
        left: calc(100% / 12 * 6);
    }
    .pull-md-0 {
        right: 0;
    }
    .pull-md-6 {
        right: calc(100% / 12 * 6);
    }
}
@media(min-width: 1200px){
    .push-lg-0 {
        left:0;
    }
    .push-lg-6 {
        left: calc(100% / 12 * 6);
    }
    .pull-lg-0 {
        right: 0;
    }
    .pull-lg-6 {
        right: calc(100% / 12 * 6);
    }
}
/* Margin */
.m-0 {margin: 0;}
.m-1 {margin: calc(1 * var(--spacing));}
.m-2 {margin: calc(2 * var(--spacing));}
.m-3 {margin: calc(3 * var(--spacing));}
.m-4 {margin: calc(4 * var(--spacing));}
.mt-0 {margin-top: 0;}
.mt-1 {margin-top: calc(1 * var(--spacing));}
.mt-2 {margin-top: calc(2 * var(--spacing));}
.mt-3 {margin-top: calc(3 * var(--spacing));}
.mb-0 {margin-bottom: 0;}
.mb-1 {margin-bottom: calc(1 * var(--spacing));}
.mb-2 {margin-bottom: calc(2 * var(--spacing));}
.mb-3 {margin-bottom: calc(3 * var(--spacing));}
.ml-auto {margin-left: auto;}
.ml-0 {margin-left: 0;}
.ml-1 {margin-left: calc(1 * var(--spacing));}
.ml-2 {margin-left: calc(2 * var(--spacing));}
.ml-3 {margin-left: calc(3 * var(--spacing));}
.mr-auto {margin-right: auto;}
.mr-0 {margin-right: 0;}
.mr-1 {margin-right: calc(1 * var(--spacing));}
.mr-2 {margin-right: calc(2 * var(--spacing));}
.mr-3 {margin-right: calc(3 * var(--spacing));}
.mx-auto {margin-left: auto;margin-right: auto;}
.mx-0 {margin-right: 0;margin-left: 0;}
.mx-1 {margin-right: calc(1 * var(--spacing));margin-left: calc(1 * var(--spacing));}
.mx-2 {margin-right: calc(2 * var(--spacing));margin-left: calc(2 * var(--spacing));}
.mx-3 {margin-right: calc(3 * var(--spacing));margin-left: calc(3 * var(--spacing));}
.my-0 {margin-top: 0;margin-right: 0;}
.my-1 {margin-top: calc(1 * var(--spacing));margin-bottom: calc(1 * var(--spacing));}
.my-2 {margin-top: calc(2 * var(--spacing));margin-bottom: calc(2 * var(--spacing));}
.my-3 {margin-top: calc(3 * var(--spacing));margin-bottom: calc(3 * var(--spacing));}

/* Padding */
.p-0 {padding: 0;}
.p-1 {padding: calc(1 * var(--spacing));}
.p-2 {padding: calc(2 * var(--spacing));}
.p-3 {padding: calc(3 * var(--spacing));}
.pt-0 {padding-top: 0;}
.pt-1 {padding-top: calc(1 * var(--spacing));}
.pt-2 {padding-top: calc(2 * var(--spacing));}
.pt-3 {padding-top: calc(3 * var(--spacing));}
.pb-0 {padding-bottom: 0;}
.pb-1 {padding-bottom: calc(1 * var(--spacing));}
.pb-2 {padding-bottom: calc(2 * var(--spacing));}
.pb-3 {padding-bottom: calc(3 * var(--spacing));}
.pl-auto {padding-left: auto;}
.pl-0 {padding-left: 0;}
.pl-1 {padding-left: calc(1 * var(--spacing));}
.pl-2 {padding-left: calc(2 * var(--spacing));}
.pl-3 {padding-left: calc(3 * var(--spacing));}
.pr-auto {padding-right: auto;}
.pr-0 {padding-right: 0;}
.pr-1 {padding-right: calc(1 * var(--spacing));}
.pr-2 {padding-right: calc(2 * var(--spacing));}
.pr-3 {padding-right: calc(3 * var(--spacing));}
.px-auto {padding-left: auto;padding-right: auto;}
.px-0 {padding-right: 0;padding-left: 0;}
.px-1 {padding-right: calc(1 * var(--spacing));padding-left: calc(1 * var(--spacing));}
.px-2 {padding-right: calc(2 * var(--spacing));padding-left: calc(2 * var(--spacing));}
.px-3 {padding-right: calc(3 * var(--spacing));padding-left: calc(3 * var(--spacing));}
.py-0 {padding-top: 0;padding-right: 0;}
.py-1 {padding-top: calc(1 * var(--spacing));padding-bottom: calc(1 * var(--spacing));}
.py-2 {padding-top: calc(2 * var(--spacing));padding-bottom: calc(2 * var(--spacing));}
.py-3 {padding-top: calc(3 * var(--spacing));padding-bottom: calc(3 * var(--spacing));}