:root {
    --orange: #ffd000;
    --blue: #00b4fb;
}
/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Segoe UI";
    box-sizing: border-box;
}
ul,ol,li {
    list-style: none;
}
img {
    width: 100%;
}
.w-100 {
    width: 100%;
}
/* Button*/
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #ccc;
    color: #000;
    padding: 10px 25px;
    border-radius: 5px;
}
.btn-orange {
    background-color: var(--orange);
    color: #222;
}
.btn-blue {
    background-color: var(--blue);
    color: #222;
}
.btn-dark {
    background-color: #222;
    color: #eee;
}


/* text-align */
.t-left {text-align: left;}
.t-center {text-align: center;}
.t-right {text-align: right;}
.t-justify {text-align: justify;}
