<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RWD LAYOUT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="w-100">
        <a href="#" class="nav-logo">LOGO</a>
        <div class="collapse">
            <a href="#" class="nav-link">MENU 1</a>
            <a href="#" class="nav-link">MENU 2</a>
            <a href="#" class="nav-link">MENU 3</a>
            <a href="#" class="nav-link">MENU 4</a>
            <a href="#" class="nav-link">MENU 5</a>
        </div>
    </nav>
    <header class="w-100">
        <div class="container row">
            <div class="col-8 t-center">
                <h1>RWD Design</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates doloremque, exercitationem quis obcaecati soluta minus.</p>
                <a href="#">More</a>
            </div>
        </div>
    </header>
    <div id="about">
        <div class="container row">
            <div class="col-12 section-title">
                <h2>About</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, nobis.</p>
            </div>
            <div class="col-4 about-content t-center">
                <i class="fas fa-brain fa-7x"></i>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe maiores cupiditate iure sequi magni magnam nemo quaerat aperiam debitis expedita!
                </p>
                <a href="#" class="btn btn-orange">Link</a>
            </div>
            <div class="col-4 about-content t-center">
                <i class="far fa-lightbulb fa-7x"></i>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe maiores cupiditate iure sequi magni magnam nemo quaerat aperiam debitis expedita!
                </p>
                <a href="#" class="btn btn-dark">Link</a>
            </div>
            <div class="col-4 about-content t-center">
                <i class="fas fa-flask fa-7x"></i>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe maiores cupiditate iure sequi magni magnam nemo quaerat aperiam debitis expedita!
                </p>
                <a href="#" class="btn btn-blue">Link</a>
            </div>
        </div>
    </div>
</body>
</html>