/* Nav */
nav {
   height: 60px;
   background-color: #222;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
}

/* Header */
header {
    background-image: url("https://picsum.photos/id/20/1200/600");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header .row {
    height: 800px;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-size: 100px
}
/* section-title 每一個區塊的標題與標語 */
.section-title {
    margin-bottom: 30px;
}
.section-title h2 {
    font-size: 36px;
    text-align: center;
}
.section-title p {
    font-size: 20px;
    text-align: center;
}
/* About */
#about {
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-content p{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
}
