/* Nav */
nav {
   height: 60px;
   background-color: #222;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
}

nav .collapse a::after {
    content:"";
    display: block;
    border-bottom: 3px solid #ffd900;
    position: relative;
    top: 3px;
    transform: scaleX(0);
    transform-origin: right;
    transition: .3s;
}

nav .collapse a:hover::after {
    transform: scaleX(1);
}

/* Header */
header {
    background-image: url("https://picsum.photos/id/20/1200/600");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header .row {
    height: 800px;
}
header h1 {
    font-size: 100px
}
/* section-title 每一個區塊的標題與標語 */
.section-title {
    margin-bottom: 30px;
}
.section-title h2 {
    font-size: 36px;
    text-align: center;
}
.section-title p {
    font-size: 20px;
    text-align: center;
}
/* About */
#about {
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-content p{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
}
/* Service */
#service {
    background-color: #d5ecc2;
    padding-top: 100px;
    padding-bottom: 100px;
}
/* Contact */

#contact {
    padding-top: 100px;
    padding-bottom: 100px;
}
input[type="text"],textarea {
    border: 1px solid #aaa;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
}
label {
    display: inline-block;
}
/* footer */
footer {
    background: #222;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer a {
    color: #eee;
    text-decoration: none;
}
/* copyright */
#copyright {
    color: #eee;
    background-color: #333;
}


/* 動畫 */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
}
.fadeIn {
    animation: fadeIn 1s;
}