<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .color {
            list-style: none;
            display: inline-block;
            width: 50px;
            height: 50px;
            border: 1px solid #000;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{title}} {{colorName}}</h1>
        <div>購物車:{{cart}}</div>
        <img :src="`images/${img}`" width="400">
        <div>{{desc}}</div>
        <ul>
            <li v-for="(product,idx) in products" 
                class="color" 
                :style="{backgroundColor:product.color}"
                @click="changeIdx(idx)"
                >
            </li>
        </ul>
        {{qty}}
        <div v-if="qty > 10">熱賣中</div>
        <div v-else-if="qty > 0 && qty <= 10">低庫存</div>
        <div v-else>補貨中</div>
        <button @click="cart+=1" v-if="qty>0">加入購物車</button>
        <button disabled v-else>補貨中</button>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    title: ' iPhone 12',
                    // img: 'iphone-12-black-select-2020.png',
                    desc: '每位顧客限購 10 部紫色 iPhone 12 mini 與 10 部紫色 iPhone 12',
                    selectedIdx:0,
                    cart:0,
                    products:[
                        {
                            id:1,
                            img:'iphone-12-black-select-2020.png',
                            colorName:'黑色',
                            color:'#000',
                            qty: 10
                        },
                        {
                            id:2,
                            img:'iphone-12-blue-select-2020.png',
                            colorName:'藍色',
                            color:'blue',
                            qty:15
                        },
                        {
                            id:3,
                            img:'iphone-12-green-select-2020.png',
                            colorName:'綠色',
                            color:'green',
                            qty: 0
                        },
                        {
                            id:4,
                            img:'iphone-12-purple-select-2021.png',
                            colorName:'紫色',
                            color:'purple',
                            qty:1
                        },
                        {
                            id:5,
                            img:'iphone-12-red-select-2020.png',
                            colorName:'(PRODUCT)紅色',
                            color:'red',
                            qty:13
                        },
                        {
                            id:6,
                            img:'iphone-12-white-select-2020.png',
                            colorName:'白色',
                            color:'#fff',
                            qty:3
                        },

                    ]
                }
            },
            methods:{
                changeColor(idx){
                    console.log(this.products[idx].img);
                    this.img = this.products[idx].img;
                },
                changeIdx(idx){
                    this.selectedIdx = idx;
                    console.log(this.selectedIdx);
                    // console.log(idx);
                },
                addToCart(){
                    this.cart += 1;
                }
            },
            computed:{
                target(){
                    return this.products[this.selectedIdx];
                },
                img(){
                    return this.target.img;
                },
                colorName(){
                    return this.target.colorName;
                },
                qty(){
                    return this.target.qty;
                }
            }
        }).mount('#app');

    </script>
</body>
</html>